.add_form {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #000;*/
  padding: 20px;
}

.input {
  padding: 5px;
  width: 300px;
  margin-bottom: 10px;
}

.add_image {
  margin-bottom: 10px;
  width: 300px;
}

.button {
  padding: 5px;
  width: 300px;
}

.invalidInput {
  background: rgba(255, 0, 0, 0.15);
}